body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    background: #000000;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100%;
}

.nav {
    background: #000000;
    position: fixed;
    width: 100%;
    padding: 1rem 0rem;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn-menu-container {
    cursor: pointer;
    z-index: 2000;
    display: none;
}

.btn-menu {
    filter: invert(100%);
    width: 36px;
}

.logo-container {
    padding: .3rem;
    width: 22%;
    margin: 0.325rem;
    text-align: center;
}

.menu {
    width: 40%;
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    padding: .8rem;
    margin: 0.125rem;
    background: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: .8rem;
    text-align: center;
    border-radius: .625rem;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.menu-item:hover {
    filter: opacity(.7);
}

.social-media-container {
    width: 30%;
    padding: 1rem;
    margin: auto;
}

.social-media {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-media a {
    margin: 0rem .6rem;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.social-media a:hover {
    filter: opacity(.7);
}

.social-media-img {
    width: 32px;
    object-fit: cover;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    margin-top: 6rem;
}

.slider {
    width: 400%;
    height: 30rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cambio 10s infinite;
    animation-direction: alternate;
}

.slider-item {
    width: 100%;
    height: 100%;
    list-style: none;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }
    30% {
        margin-left: -100%;
    }
    50% {
        margin-left: -100%;
    }
    55% {
        margin-left: -200%;
    }
    75% {
        margin-left: -200%;
    }
    80% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.h1 {
    position: absolute;
    width: 100%;
    height: 31.25rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-item {
    color: #ffffff;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: .4rem;
}

.h2 {
    text-align: center;
}

.h2-item {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.giftcard-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.giftcard {
    position: relative;
    width: 40%;
    height: 12.5rem;
    margin-top: 1rem;
    padding: .5rem;
    border: .2rem solid #ffffff;
    overflow: hidden;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.giftcard:hover {
    border: .2rem solid #ffffff99;
}

.giftcard a {
    width: 100%;
    height: 100%;
}

.giftcard-h2 {
    width: 100%;
    height: 12.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftcard-h2-item {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.giftcard-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftcard-img-item {
    width: 8.95rem;
    object-fit: cover;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.giftcard:hover .giftcard-img-item {
    transform: translateY(-10rem);
}

.giftcard:hover .giftcard-h2-item {
    transform: translateY(-5rem);
}

.contactUs-container {
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
}

.contactUs {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactUs-item {
    width: 30%;
    text-align: center;
    margin-top: .8rem;
    padding: .7rem;
    border-radius: .625rem;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

.contactUs-item-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUs-item:hover {
    background: #ffffff22;
}

.contactUs-item-p {
    color: #9999ff;
    text-decoration: underline;
}

.contactUs-item-img {
    width: 32px;
    margin: 0rem .4rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.footer-p-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: auto;
}

.footer-p {
    color: #ffffff;
    font-family: serif;
    font-weight: bold;
    text-align: center;
}

.-footer-social-media-container {
    display: none;
}

.footer-social-media {
    display: none;
}


/*MEDIA QUERIES*/

@media all and (max-width: 883px) {
    .logo-container {
        display: none;
    }
}

@media all and (max-width: 810px) {
    .menu {
        width: 100%;
        justify-content: center;
        margin: 1rem auto;
    }
    .menu a {
        margin: 0.1rem;
    }
    .footer-p-container {
        width: 100%;
    }
    .social-media-container {
        display: none;
    }
    .footer-social-media-container {
        display: block;
        width: 100%;
        text-align: center;
    }
    .footer-social-media {
        display: block;
    }
}

@media all and (max-width: 605px) {
    .giftcard-h2-item {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 540px) {
    .giftcard {
        width: 100%;
    }
    .giftcard-img-item {
        transform: translateY(-10rem);
    }
    .giftcard-h2-item {
        transform: translateY(-5rem);
    }
    .footer-p-container {
        width: 100%;
    }
    .social-media-container {
        display: none;
    }
    .social-media {
        display: none;
    }
    .footer-social-media-container {
        display: block;
        width: 100%;
        text-align: center;
    }
    .footer-social-media {
        display: block;
    }
}

@media all and (max-width: 515px) {
    .nav {
        width: 30%;
        background: transparent;
    }
    .logo-container {
        background: #000000;
        top: 0;
        position: absolute;
    }
    .btn-menu-container {
        display: block;
        text-align: left;
        margin-right: auto;
        position: fixed;
        top: 0;
        width: 2rem;
    }
    .btn-menu {
        width: 100%;
        margin: 1rem;
    }
    .menu {
        display: block;
        padding: .5rem 0rem;
        background: #000000;
        margin-top: 3rem;
        flex-direction: column;
        transform: translateX(-100%);
        -webkit-transition: ease .4s;
        -o-transition: ease .4s;
        transition: ease .4s;
        filter: invert(100%);
    }
    .menu.active {
        transform: translateX(0%);
    }
}