body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	background: #000000;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	height: 100%;
}

.nav {
	position: fixed;
	width: 100%;
	padding: 1rem 0rem;
	background: #000000;
	z-index: 1000;
	top: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.btn-menu-container {
	cursor: pointer;
	z-index: 2000;
	display: none;
}

.btn-menu {
	filter: invert(100%);
	width: 36px;
}

.logo-container {
	padding: .3rem;
	width: 20%;
	text-align: center;
}

.menu {
	width: 50%;
	padding: 0;
	margin: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu a {
	margin: 0rem 1rem;
}

.menu-item {
	padding: .8rem;
	color: #000000;
	background: #ffffff;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	font-size: .8rem;
	text-align: center;
	border-radius: .625rem;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.menu-item:hover {
	filter: opacity(.7);
}

.slider-container {
    width: 100%;
    overflow: hidden;
	margin-top: 6rem;
}

.slider{
    width: 400%;
    height: 30rem;
    padding: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
    
    animation: cambio 10s infinite;
    animation-direction: alternate;
}

.slider-item {
    width: 100%;
	height: 100%;
    list-style: none;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	filter: brightness(40%);
}

@keyframes cambio {
    0% {margin-left: 0;}
    25% {margin-left: 0;}

    30% {margin-left: -100%;}
    50% {margin-left: -100%;}

    55% {margin-left: -200%;}
    75% {margin-left: -200%;}

    80% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.h1 {
	position: absolute;
	width: 100%;
	height: 31.25rem;
	top: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1-item {
	color: #ffffff;
	font-size: 3rem;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: .4rem;
}

.h2 {
	text-align: center;
}

.h2-item {
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}

.giftcard-container {
	padding: 1rem;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.giftcard {
	position: relative;
	width: 30%;
	height: 100%;
	margin-top: 1rem;
	padding: .5rem;
	border: .2rem solid #ffffff;
	cursor: pointer;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.giftcard:hover {
	filter: opacity(.7);
}

.giftcard-h2-item {
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.giftcard-img {
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.giftcard-img-item {
	width: 8.75rem;
	object-fit: cover;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.giftcard-p {
	color: #ffffff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.5rem;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #ffffff44;
	z-index: 3000;
	
	display: none;
}

.overlay.active {
	display: block;
	z-index: 2000;
}

.popup-1 {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(50%, 50%) scale(.7);
	width: 60%;
	height: 60%;
	background: #000000;
	z-index: 3000;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-1.active {
	animation: open .7s ease .1s forwards;
}

@keyframes open {
	from {
		visibility: hidden;
		transform: translate(20%, 20%) scale(.7);
	}
	
	to {
		visibility: visible;
		transform: translate(30%, 30%) scale(1);
	}
}

.close {
	position: fixed;
	left: 0;
	top: 0;
	margin: .5rem;
	cursor: pointer;
}

.close-img {
	width: 32px;
}

.close-img:hover {
	opacity: .7;
}

.giftcard-popup-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.giftcard-h2-item-popup-1 {
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
}

.giftcard-h2-item-popup-1.active {
	animation: aparicion .5s ease .7s forwards;
}

.giftcard-img-popup-1 {
	width: 30%;
	border-radius: .625rem;
	text-align: center;
}

.giftcard-img-item-popup-1 {
	width: 85%;
	border: .2rem solid #ffffff;
	border-radius: 10%;
	padding: .3rem;
	transform: translateY(-5%);
}

.giftcard-img-item-popup-1.active {
	animation: levitacion 1s ease 1s infinite;
	animation-direction: alternate;
}

@keyframes levitacion {
	0% {
		transform: translateY(-5%);
	}

	100% {
		transform: translateY(5%);
	}	
}

.giftcard-p-popup-1 {
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	opacity: 0;
}

.giftcard-p-popup-1.active {
	animation: aparicion .5s ease 1s forwards;
}

.description-popup form{
	height: 12.5rem;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.amount-container {
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.amount-container-item-h3{
	color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
}

.amount-container-item-h3.active {
	animation: aparicion .5s ease 1.3s forwards;
}

.amount-container-item-input {
	width: 20%;
	padding: .4rem;
	background: #3333ff;
	color: #ffffff;
	border: none;
	border-radius: .325rem;
	font-family: sans-serif;
	font-weight: bold;
	outline: none;
	opacity: 0;
}

.amount-container-item-input.active {
	animation: aparicion .5s ease 1.3s forwards;
}


.method-pay {
	width: 100%;
	padding: .4rem;
}

.method-btn {
	padding: .4rem;
	background: #3333ff;
	color: #ffffff;
	border: none;
	border-radius: .325rem;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.method-btn.active {
	animation: aparicion .5s ease 1.3s forwards;
}

@keyframes aparicion{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.method-btn:hover {
	transform: scale(.9);
	opacity: .7;
}

.contactUs-container {
	width: 100%;
	height: 100%;
	padding: 1rem 0rem;
}

.contactUs {
	width: 100%;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contactUs-item {
	width: 30%;
	text-align: center;
	margin-top: .8rem;
	padding: .7rem;
	border-radius: .625rem;
	font-family: sans-serif;
	font-weight: bold;
	
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.contactUs-item-li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactUs-item:hover {
	background: #ffffff22;
}

.contactUs-item-p {
	color: #9999ff;
	text-decoration: underline;
}

.contactUs-item-img {
	width: 32px;
	margin: 0rem .4rem;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.footer-p-container {
	width: 40%;
	height: 100%;
	padding: 1rem;
	margin: auto;
}

.footer-p {
	color: #ffffff;
	font-family: serif;
	font-weight: bold;
	text-align: center;
}

.social-media-container {
	width: 40%;
	padding: 1rem;
	margin: auto;
}

.social-media {
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.social-media a {
	margin: 0rem .6rem;
	
	-webkit-transition: ease .4s;
	-o-transition: ease .4s;
	transition: ease .4s;
}

.social-media a:hover {
	filter: opacity(.7);
}

.social-media-img {
	width: 32px;
	object-fit: cover;
}

/*MEDIA QUERIES*/
@media all and (max-width: 740px) {	
	.logo-container {
		width: 100%;
	}
	
	.menu {
		width: 100%;
		
		justify-content: center;
	}
	
	.menu a {
		margin: 0.1rem;
	}
}

@media all and (max-width: 605px) {
	.giftcard-h2-item {
		font-size: 1.2rem;
	}
}

@media all and (max-width: 540px) {
	.giftcard {
		width: 100%;
	}
	
	.giftcard-img-item {
		transform: translateY(-10rem);
	}
	
	.giftcard-h2-item {
		transform: translateY(-5rem);
	}
	
	.footer-p-container {
		width: 100%;
	}
	
	.social-media-container {
		width: 100%;
	}
}

@media all and (max-width: 515px) {
	.nav {
		background: transparent;
	}
	
	.logo-container {
		background: #000000;
		top: 0;
		position: absolute;
	}
	
	.btn-menu-container {
		display: block;
		text-align: left;
		margin-right: auto;
	}
	
	.btn-menu {
		margin: 0rem 1rem;
	}
	
	.menu {
		margin-top: .5rem;
		flex-direction: column;
		align-items: flex-start;
		transform: translateX(-100%);
		
		-webkit-transition: ease .4s;
		-o-transition: ease .4s;
		transition: ease .4s;
	}
	
	.menu.active {
		transform: translateX(0%);
	}
}
