<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- vinculación a CSS -->
	<link rel="stylesheet" href="../../static/styles/style.css">
	<!-- Icono -->
	<link rel="icon" href="../../static/icons/logo.png">
	<title>Document</title>
</head>

<body>
	<header class="header">
		<nav class="nav">
			<div class="logo-container">
				<img src="../../static/icons/logo.png" alt="" class="logo">
			</div>
			<div class="btn-menu-container" id="btn-menu">
				<img src="../../static/icons/menu-icon.png" alt="" class="btn-menu">
			</div>
			<ul class="menu" id="menu">
				<span>
					<li class="menu-item" id="btn-home">HOME</li>
				</span>
				<span>
					<li class="menu-item" id="btn-giftcard">GIFTCARDS</li>
				</span>
				<span>
					<li class="menu-item" id="btn-contact">CONTACTANOS</li>
				</span>
				<span>
					<li class="menu-item" id="btn-social-media">REDES SOIALES</li>
				</span>
			</ul>
		</nav>
		<div class="slider-container">
			<ul class="slider">
				<li class="slider-item"><img src="../../static/images/slider-img1.jpg" alt="" class="slider-img"></li>
				<li class="slider-item"><img src="../../static/images/slider-img2.jpg" alt="" class="slider-img"></li>
				<li class="slider-item"><img src="../../static/images/slider-img3.jpg" alt="" class="slider-img"></li>
				<li class="slider-item"><img src="../../static/images/slider-img4.jpg" alt="" class="slider-img"></li>
			</ul>
			<div class="h1">
				<h1 class="h1-item">TITULO</h1>
			</div>
		</div>
	</header>

	<div class="h2">
		<h2 class="h2-item">GIFT CARDS</h2>
	</div>

	<section class="giftcard-container">
		<div class="giftcard">
			<a href="playstation.html">
				<span class="giftcard-h2">
					<h2 class="giftcard-h2-item">PLAYSTATION</h2>
				</span>
				<span class="giftcard-img">
					<img src="../../static/icons/gangs-icons/playstation-icon.png" alt="" class="giftcard-img-item">
				</span>
			</a>
		</div>
		<div class="giftcard">
			<a href="xbox.html">
				<span class="giftcard-h2">
					<h2 class="giftcard-h2-item">XBOX</h2>
				</span>
				<span class="giftcard-img">
					<img src="../../static/icons/gangs-icons/xbox-icon.png" alt="" class="giftcard-img-item">
				</span>
			</a>
		</div>
		<div class="giftcard">
			<a href="playstore.html">
				<span class="giftcard-h2">
					<h2 class="giftcard-h2-item">PLAY STORE</h2>
				</span>
				<span class="giftcard-img">
					<img src="../../static/icons/gangs-icons/playstore-icon.png" alt="" class="giftcard-img-item">
				</span>
			</a>
		</div>
		<div class="giftcard">
			<a href="steam.html">
				<span class="giftcard-h2">
					<h2 class="giftcard-h2-item">STEAM</h2>
				</span>
				<span class="giftcard-img">
					<img src="../../static/icons/gangs-icons/steam-icon.png" alt="" class="giftcard-img-item">
				</span>
			</a>
		</div>
	</section>

	<div class="h2">
		<h2 class="h2-item">CONTACTANOS VIA:</h2>
	</div>
	
	<section class="contactUs-container">
		<ul class="contactUs">
			<a href="" class="contactUs-item">
				<li class="contactUs-item-li">
					<p class="contactUs-item-p">Discord</p>
					<img src="../../static/icons/social-media/discord-icon.png" alt="" class="contactUs-item-img">
				</li>
			</a>
			<a href="" class="contactUs-item">
				<li class="contactUs-item-li">
					<p class="contactUs-item-p">Gmail</p>
					<img src="../../static/icons/social-media/gmail-icon.png" alt="" class="contactUs-item-img">
				</li>
			</a>
			<a href="" class="contactUs-item">
				<li class="contactUs-item-li">
					<p class="contactUs-item-p">Telegram</p>
					<img src="../../static/icons/social-media/telegram-icon.png" alt="" class="contactUs-item-img">
				</li>
			</a>
			<a href="" class="contactUs-item">
				<li class="contactUs-item-li">
					<p class="contactUs-item-p">Whatsapp</p>
					<img src="../../static/icons/social-media/whatsapp-icon.png" alt="" class="contactUs-item-img">
				</li>
			</a>
		</ul>
	</section>

	<footer class="footer">
		<div class="footer-p-container">
			<p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat hic ipsa quia, expedita quis iure nisi praesentium, dolore tempore quod distinctio laborum tenetur illo animi nostrum. Officiis, quia molestiae odit.</p>
		</div>
		<div class="social-media-container">
			<ul class="social-media">
				<a href="">
					<img src="../../static/icons/social-media/facebook-icon.png" alt="" class="social-media-img">
				</a>
				<a href="">
					<img src="../../static/icons/social-media/instagram-icon.png" alt="" class="social-media-img">
				</a>
				<a href="">
					<img src="../../static/icons/social-media/twitter-icon.png" alt="" class="social-media-img">
				</a>
			</ul>
		</div>
	</footer>

	<script src="../../static/scripts/btn-menu.js"></script>
	<script src="../../static/scripts/smooth.js"></script>
</body></html>
