<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación a CSS -->
    <link rel="stylesheet" href="../../static/styles/playStore.css">
    <!-- Icono -->
    <link rel="icon" href="../../static/icons/logo.png">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="logo-container">
                <img src="../../static/icons/logo.png" alt="" class="logo">
            </div>
            <div class="btn-menu-container" id="btn-menu">
                <img src="../../static/icons/menu-icon.png" alt="" class="btn-menu">
            </div>
            <ul class="menu" id="menu">
                <a href="index.html">
                    <li class="menu-item" id="btn-home">HOME</li>
                </a>
                <span>
					<li class="menu-item" id="btn-giftcard">GIFTCARDS</li>
				</span>
                <span>
					<li class="menu-item" id="btn-contact">CONTACTANOS</li>
				</span>
            </ul>
            <div class="social-media-container">
                <ul class="social-media">
                    <a href="">
                        <img src="../../static/icons/social-media/facebook-icon.png" alt="" class="social-media-img">
                    </a>
                    <a href="">
                        <img src="../../static/icons/social-media/instagram-icon.png" alt="" class="social-media-img">
                    </a>
                    <a href="">
                        <img src="../../static/icons/social-media/twitter-icon.png" alt="" class="social-media-img">
                    </a>
                </ul>
            </div>
        </nav>
        <div class="slider-container">
            <ul class="slider">
                <li class="slider-item"><img src="../../static/images/slider-img1.jpg" alt="" class="slider-img"></li>
                <li class="slider-item"><img src="../../static/images/slider-img2.jpg" alt="" class="slider-img"></li>
                <li class="slider-item"><img src="../../static/images/slider-img3.jpg" alt="" class="slider-img"></li>
                <li class="slider-item"><img src="../../static/images/slider-img4.jpg" alt="" class="slider-img"></li>
            </ul>
            <span class="h1">
				<h1 class="h1-item">TITULO</h1>
			</span>
        </div>
    </header>

    <span class="h2">
		<h2 class="h2-item">GIFT CARDS</h2>
	</span>

    <section class="giftcard-container">
        <div class="giftcard" id="giftcard-1">
            <span class="giftcard-h2">
				<h2 class="giftcard-h2-item">STEAM</h2>
			</span>
            <span class="giftcard-img">
				<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item">
			</span>
            <span>
				<p class="giftcard-p">
					1000$
				</p>
			</span>
        </div>

        <div class="popup" id="popup-1">
            <div class="close" id="close">
                <img src="../../static/icons/close.png" alt="" class="close-img">
            </div>
            <div class="giftcard-popup">
                <span class="giftcard-h2-popup">
					<h2 class="giftcard-h2-item-popup" id="giftcard-h2-item-popup-1">STEAM</h2>
				</span>
                <span class="giftcard-img-popup">
					<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item-popup active">
				</span>
                <span>
					<p class="giftcard-p-popup" id="giftcard-p-popup-1">
						1000$
					</p>
				</span>
            </div>
            <div class="description-popup">
                <form action="" id="form">
                    <div class="amount-container">
                        <h3 class="amount-container-item-h3-popup" id="amount-container-item-h3-popup-1">CANTIDAD</h3>
                        <input type="number" class="amount-container-item-input-popup" id="amount-container-item-input-popup-1">
                    </div>
                    <div class="method-pay">
                        <button class="method-btn" id="method-btn-1">PayPal</button>
                        <button class="method-btn" id="method-btn-2">Mercadopago</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="giftcard" id="giftcard-2">
            <span class="giftcard-h2">
				<h2 class="giftcard-h2-item">STEAM</h2>
			</span>
            <span class="giftcard-img">
				<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item">
			</span>
            <span>
				<p class="giftcard-p">
					2000$
				</p>
			</span>
        </div>

        <div class="popup" id="popup-2">
            <div class="close" id="close-2">
                <img src="../../static/icons/close.png" alt="" class="close-img">
            </div>
            <div class="giftcard-popup">
                <span class="giftcard-h2-popup">
					<h2 class="giftcard-h2-item-popup" id="giftcard-h2-item-popup-2">STEAM</h2>
				</span>
                <span class="giftcard-img-popup">
					<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item-popup active">
				</span>
                <span>
					<p class="giftcard-p-popup" id="giftcard-p-popup-2">
						2000$
					</p>
				</span>
            </div>
            <div class="description-popup">
                <form action="" id="form">
                    <div class="amount-container">
                        <h3 class="amount-container-item-h3-popup" id="amount-container-item-h3-popup-2">CANTIDAD</h3>
                        <input type="number" class="amount-container-item-input-popup" id="amount-container-item-input-popup-2">
                    </div>
                    <div class="method-pay">
                        <button class="method-btn" id="method-btn-3">PayPal</button>
                        <button class="method-btn" id="method-btn-4">Mercadopago</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="giftcard" id="giftcard-3">
            <span class="giftcard-h2">
				<h2 class="giftcard-h2-item">STEAM</h2>
			</span>
            <span class="giftcard-img">
				<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item">
			</span>
            <span>
				<p class="giftcard-p">
					2500$
				</p>
			</span>
        </div>
    </section>

    <div class="popup" id="popup-3">
        <div class="close" id="close-3">
            <img src="../../static/icons/close.png" alt="" class="close-img">
        </div>
        <div class="giftcard-popup">
            <span class="giftcard-h2-popup">
				<h2 class="giftcard-h2-item-popup" id="giftcard-h2-item-popup-3">STEAM</h2>
			</span>
            <span class="giftcard-img-popup">
				<img src="../../static/icons/giftcards/giftcard-playstore.png" alt="" class="giftcard-img-item-popup active">
			</span>
            <span>
				<p class="giftcard-p-popup" id="giftcard-p-popup-3">
					2500$
				</p>
			</span>
        </div>
        <div class="description-popup">
            <form action="" id="form">
                <div class="amount-container">
                    <h3 class="amount-container-item-h3-popup" id="amount-container-item-h3-popup-3">CANTIDAD</h3>
                    <input type="number" class="amount-container-item-input-popup" id="amount-container-item-input-popup-3">
                </div>
                <div class="method-pay">
                    <button class="method-btn" id="method-btn-5">PayPal</button>
                    <button class="method-btn" id="method-btn-6">Mercadopago</button>
                </div>
            </form>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <span class="h2">
		<h2 class="h2-item">CONTACTANOS VIA:</h2>
	</span>

    <section class="contactUs-container">
        <ul class="contactUs">
            <a href="" class="contactUs-item">
                <li class="contactUs-item-li">
                    <p class="contactUs-item-p">Discord</p>
                    <img src="../../static/icons/social-media/discord-icon.png" alt="" class="contactUs-item-img">
                </li>
            </a>
            <a href="" class="contactUs-item">
                <li class="contactUs-item-li">
                    <p class="contactUs-item-p">Gmail</p>
                    <img src="../../static/icons/social-media/gmail-icon.png" alt="" class="contactUs-item-img">
                </li>
            </a>
            <a href="" class="contactUs-item">
                <li class="contactUs-item-li">
                    <p class="contactUs-item-p">Telegram</p>
                    <img src="../../static/icons/social-media/telegram-icon.png" alt="" class="contactUs-item-img">
                </li>
            </a>
            <a href="" class="contactUs-item">
                <li class="contactUs-item-li">
                    <p class="contactUs-item-p">Whatsapp</p>
                    <img src="../../static/icons/social-media/whatsapp-icon.png" alt="" class="contactUs-item-img">
                </li>
            </a>
        </ul>
    </section>

    <footer class="footer">
        <span class="footer-p-container">
			<p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat hic ipsa quia, expedita quis iure nisi praesentium, dolore tempore quod distinctio laborum tenetur illo animi nostrum. Officiis, quia molestiae odit.</p>
		</span>
        <div class="social-media-container footer-social-media-container">
            <ul class="social-media footer-social-media">
                <a href="">
                    <img src="../../static/icons/social-media/facebook-icon.png" alt="" class="social-media-img">
                </a>
                <a href="">
                    <img src="../../static/icons/social-media/instagram-icon.png" alt="" class="social-media-img">
                </a>
                <a href="">
                    <img src="../../static/icons/social-media/twitter-icon.png" alt="" class="social-media-img">
                </a>
            </ul>
        </div>
    </footer>

    <script src="../../static/scripts/btn-menu.js"></script>
    <script src="../../static/scripts/smooth.js"></script>
    <script src="../../static/scripts/popups.js"></script>
</body>

</html>